@model OnlineBookselling.ViewModels.ISearchViewModel

@{
    ViewData["Title"] = "Kitapcim.com";
}

<h2>Ara</h2>

@using (Html.BeginForm())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.TextBoxFor(model => model.SearchTerm)
                </th>
                <th><button type="submit" class="form-control" value="Submit">Search</button></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorFullName)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Product", new { productId = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}